# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
pandas
python-multipart
openpyxl
pymongo[srv]
motor>=2.0.0,<3.0.0
aiofiles
#for email validation
pydantic[email]
#hashing
passlib[bcrypt]
# for env var
python-decouple
python-dotenv
#for jwt tokens
python-jose
requests
aiohttp
mangum

