fastapi
pydantic
uvicorn
pandas>=2.2.2
requests
openpyxl
PyMySQL
sqlalchemy
# pyspark[sql] >= 3.2.0
# pyspark[pandas_on_spark] >= 3.2.0
mangum
python-dotenv
# celery
# flower
numpyencoder
fastapi-filter
python-dateutil
connectorx
pymongo[srv]
flatten-dict
pydantic-settings
polars-lts-cpu
